<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="./css/reset.css" type="text/css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="./css/custom.css" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer src="./js/index.js"></script>
        <title>Quiz Me</title>
    </head>
    <body>
        <header>
            <div class="fixedheadnav">
                <div class="header">
                    <button id="home" class="reset-button"><h1 class="logo"><a href="/" class="reset-link">Quiz Me</a></h1></button>
                </div>
                <nav class="navigation">
                    <ul id="navigation">
                        <li><button id="quiz" class="reset-button"><a href="/quiz" class="reset-link">Quiz yourself</a></button></li>
                        <li><button id="create" class="reset-button"><a href="/create" class="reset-link">Create a quiz</a></button></li>
                        <li><button id="profile" class="reset-button"><a href="/profile" class="reset-link">Profile</a></button></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
        {{{ body }}}

        </main>
        
        <footer>
        </footer>
        <div class="footer-helper"></div>
    </body>
</html>