<div class="column">
  <h2 class= "title text-center">Answer this quiz</h2>
  <p id="message" class="bold"></p>
  {{!-- Remove buttons other elements on the page if they have answered all the questions or an error occurred --}}
  <div class="row">
    <div class="col-12">
        <h3 class="text-center" id="question"></h3>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-6 mb-4">
        <button type="button" class="btn btn-primary" id="one" style="width: 80%; margin-left: 10%; margin-right: 10%;"></button>
    </div>
    <div class="col-6 mb-4">
      <button type="button" class="btn btn-success" id="two" style="width: 80%; margin-left: 10%; margin-right: 10%;"></button>
    </div>

    <!-- Force next columns to break to new line -->
    <div class="w-100"></div>

    <div class="col-6 mb-4">
        <button type="button" class="btn btn-danger" id="three" style="width: 80%; margin-left: 10%; margin-right: 10%;"></button>
    </div>
    <div class="col-6 mb-4">
        <button type="button" class="btn btn-warning" id="four" style="width: 80%; margin-left: 10%; margin-right: 10%;"></button>
    </div>
    <p class="text-center" id="answer-response"></p>
    <div class="col-12 flex-container">
      <button type="button" class="btn btn-primary" id="play-again" style="display: none;"><a class="text-light" href="/quiz">Care to play again?</a></button>
    </div>
  </div>
</div>


<!-- javascript file-->
<script src="./js/quiz.js"></script>
