
<div class="column">
{{#if Answer.IsCorrect}}
<h3> You've got it correct!</h3>
{{else}}
<h3> The correct answer is: </h3>
{{CorrectAnswer}}
</div>

<button type="button" class="btn btn-outline-info">Play again!</button>
