<h2 class="text-center">What would you like to update?</h2>
<div class="container">
    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-outline-dark" style="width: 70%; height: 50px; margin-left: 15%; margin-right: 20%;"><a href="/usernameedit" class="reset-link"> Update my username</a></button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-dark" style="width: 70%; height: 50px; margin-left: 15%; margin-right: 20%;"><a href="/emailedit" class="reset-link">Update my email</a></button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-outline-dark" style="width: 70%; height: 50px; margin-left: 15%; margin-right: 20%;"><a href="/passwordedit" class="reset-link">Update my password</a></button>
        </div>
    </div>
</div>