<h2>What would you like to update?</h2>

<button type="button" class="btn"><a href="/usernameedit" class="reset-link"> Update my username</a></button>
<button type="button" class="btn"><a href="/emailedit" class="reset-link">Update my email</a></button>
<button type="button" class="btn"><a href="/passwordedit" class="reset-link">Update my password</a></button>
