<h2>Email Update</h2>

<form class="new-email">
    </br>
    <div>
        <label for="email-update">Please enter your new email:</label>
        <input type="text" id="email-update" required />
    </div>
    <div>
        <p id="message"></p>
    </div>
    <div>
        <button type="submit" class="btn btn-warning">Update your email</button>
    </div>
</form>

<script defer src="./js/account.js"></script>