<div class="column">
<button type="submit" class="btn-outline-info">Answer a quiz!</button>
</div>

<div class = "column">
    <button type="submit" class="btn-outline-info">Create a multiple choice question!</button>
  </div>

<h2 class= "title">About Us </h2>
<p>Quiz Me is a game inspired by Kahoot! We wanted to develop something that was fun but also interesting for most.
  Quiz Me allows user's to play a daily Trivia in their downtime, and also interact with other's by creating triva questions for other users.
  It's a good game that doesn't take up alot of your time, and most importantly, you get to learn a thing or two while playing! 
</p>

<h3> Created by Miles, Vivian, Andrew </h3>
<a href="https://github.com/andrew60199/Quiz-Me.git"> GitHub link</a>
</div>
