<div class="column">
<button type="submit" class="button">Answer a quiz!</button>
</div>

<div class = "column">
    <button type="submit" class="button">Create a multiple choice question!</button>
  </div>

<h2 class= "title">About Us </h2>
<p>Content</p>

<h3> Created by Miles, Vivian, Andrew </h3>
<a href> GitHub link</a>
</div>
