<div class="column">
<h2 class= "title">New to Quiz Me?</h2>
<button type="button"  class="btn btn-warning"><a style="text-decoration: none;" href="/signup">Create an account</a></button>
</div>
</br>
<div class = "column"></div>
<h2 class="title">Login</h2>
<form class="login-form">
  <div>
    <label for="email-login">Email address:</label>
    <input type="text" id="email-login" required/>
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" required />
  </div>
  <p id="message" class="bold"></p>
  <div>
    <button type="submit"  class="btn btn-warning">Login</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script defer src="./js/login.js"></script>