<h2>Password Update</h2>

<form class="new-password">
    <div>
        <label for="password-update">Please enter your new password:</label>
        <input type="password" id="password-update" required/>
    </div>
    <div>
        <p id="message"></p>
    </div>
    <div>
        <button type="submit"  class="btn btn-outline-dark">Update your password</button>
    </div>    
</form>

<script defer src="./js/account.js"></script>