<h2>Password Update</h2>

<form>
    <div>
        <label for="password-update">Please enter your new email:</label>
        <input type="password" id="password-update" required/>
    </div>
    <div>
        <button type="submit"  class="btn btn-outline-info">Update your email</button>
    </div>    
</form>

<script defer src="./js/account.js"></script>