<div class = "column"></div>
<h2 class="title">Create new account</h2>
<form class="signup-form">

  <div>
    <label for="user-name">Name:</label>
    <input type="text" id="user-name" />
  </div>

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-login">Email address:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit"  class="btn btn-outline-info">Login</button>
  </div>
</form>
</div>

<!-- javascript file-->
<script src="/javascript/user.js"></script>