
<h2>{{User.username}}</h2>

<div class="container text-center">
  <div class="row">
    <div class="col-6 col-sm-3">{{statistics.total_played}}</div>
    <div class="col-6 col-sm-3"> {{staticstics.wins}}</div>

    {{stats.graph}}
  </div>
</div>


<button type="button" class="btn btn-outline-primary"><a href="/editmenu" class="reset-link">Edit Account</a></button>
<button type="button" class="btn btn-outline-danger" id="delete-button">Delete Account</button>

<button type="button" id="logout-button" class="btn btn-outline-primary">Logout</button>

<script defer src="./js/login.js"></script>