<h2>Username Update</h2>

<form class="new-username">
    <div>
        <label for="username-update">Please enter your new username:</label>
        <input type="text" id="username-update" required/>
    </div>
    <div>
        <p id="message"></p>
    </div>
    <div>
        <button type="submit"  class="btn btn-outline-info">Update your username</button>
    </div>    
</form>

<script defer src="./js/account.js"></script>