<h2>Username Update</h2>

<form>
    <div>
        <label for="username-update">Please enter your new email:</label>
        <input type="text" id="username-update" required/>
    </div>
    <div>
        <button type="submit"  class="btn btn-outline-info">Update your username</button>
    </div>    
</form>

<script defer src="./js/account.js"></script>