
/* a {

}

a:link {

}

a:visited {

}

a:focus {

}

a:hover {

}

a:active {

} */


/* These properties are defined once and used multiple times to ensure one source of truth. */
:root {
    --lightgray: #EFEFEF;
    --grayolive: #736D6A;
    --offblack: #333333;
    --primary: #63df05;
    --lightblue: #B9D1EA;
    
}

body {
    background-color: var(--lightblue);
}


h2 {
    color: #00235E;
}


/* Had to do this so that the content wouldn't be stuck behind the nav on mobile */
.footer-helper {
    height: 4rem;
}

.reset-button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background-color: #337def;
    cursor: pointer;
    text-align: center;
}

.reset-link {
    text-decoration: none;
    color: #fcc729;
    /*color: #00235E;*/
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.25rem;
    align-items: center;
    background-color: #337def;
    padding: 0 0.625rem;
    
}
    
.navigation ul {
    display: flex;
    position: fixed;
    margin: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 12.5%;
    justify-content: space-between;
    background-color: #337def;
}

main {
    margin-top: 3.5rem;
    padding: 0 0.625rem;
}

.bold {
    font-weight: 700;
}

.image-helper {
    display: flex;
    justify-content: center;
    margin-top: 30px
}

.hero-image {
    width: 100%
}

.success-message {
    margin: 1rem 0;
}


/* Tablet and laptop displays*/
@media screen and (min-width: 769px) and (max-width: 1600px) {
    
    .fixedheadnav {
        display: flex;
        position: fixed;
        width: 100%;
        height: 4.25rem;
        top: 0;
        justify-content: space-between;
        align-items: center;
        background-color: #337def;
    }
    
    .header {
        top: 0.8rem;
        width: 48%;
        padding: 0.625rem;
    }

    .navigation ul {
        top: 0.8rem;       
        right: 0;
        bottom: auto;
        width: 48%;
        padding: 0.625rem 2rem;
    }

    main {
        margin-top: 5rem;
        padding: 0 0.625rem;
    }

    .image-helper {
        background-color: #5E8FDA;
    }

    .hero-image {
        width: 50%
    }

}

/* Desktop displays*/
@media screen and (min-width: 1600px) {
    
    .fixedheadnav {
        padding: 0 25%;
        display: flex;
        position: fixed;
        width: 100%;
        height: 4.225rem;
        top: 0;
        justify-content: space-between;
        align-items: center;
        background-color: #337def;
    }
    
    .header {
        top: 0.8rem;
        display: flex;
        width: 24%;
        padding: 0.625rem;
    }

    .navigation ul {
        top: 0.8rem;
        bottom: auto;      
        right: 25%;
        width: 24%;
        justify-content: space-between;
        padding: 0.625rem;
    } 

    main {
        margin-top: 5rem;
        padding: 0 25.5%;
    }

    .image-helper {
        background-color: #5E8FDA;
    }

    .hero-image {
        width: 50%
    }
} 